.wd-search-bar {
    background-color: #F5F8FA;
    border-radius: 20px;
    margin-left: 8px;
    padding-left: 55px;
    height: 45px;
}

.wd-magnifier {
    position: relative;
    top: 15px;
    left: 42px;
    color: #AAB8C2;
}

.wd-gear {
    position: relative;
    height: 25px;
    margin-top: 9px;
    margin-right: 16px;
    padding-left: 50px;
    font-size: 1.2em;
    color: #657786;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
    position: relative;
}

.wd-float-done {
    clear: both;
}

.wd-tuit-button {
    background-color: #1DA1F2;
    border-radius: 20px;
    border: 0;
    position: relative;
    top: 10px;
    width: 100%
}

.wd-navigation-item {
    border: 0;
    box-shadow: none;
    font-size: 20px;
    height: 50px;
}

.wd-navigation-icon {
    position: absolute;
    padding-top: 5px;
}

.wd-navigation-text {
    margin-left: 45px;
}

.nav-tabs .nav-link.active {
    color: black;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid #1DA1F2;
}

.nav-tabs .nav-link {
    color: #657786;
    font-weight: bold;
    text-decoration: none;
}

.list-group-item {
    background-color: transparent;
    border: 0;
}

.list-group-item.active {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 0;
}

.wd-more {
    color: #657786;
    margin-top: 7px;
    margin-right: 3px;
    float: right;
    position: relative;
}

.wd-img {
    height: 80px;
    width: 80px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 12px;
    float: right;
    position: relative;
}

.wd-subtitle {
    color: #657786;
    font-size: 13px;
}

.wd-title {
    font-size: 14px;
    font-weight: bold;
}

.wd-content {
    font-size: 14px;
    color: #657786;
}

.wd-header-text{
    position: relative;
    left: 15px;
    bottom: 80px;
}

.wd-header-subtitle {
    color: white;
    font-size: 13px;
}

.wd-header-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.wd-topic-link {
    text-decoration: none;
    color: #1DA1F2;
    font-size: 13px;
}

.wd-color-tuit {
    color: #1DA1F2;
}

.wd-gray-card {
    background-color: #F5F8FA;
    border-radius: 15px;
}

.wd-follow-suggest {
    color: #14171A;
    font-size: 19px;
    font-weight: bold;
}

.wd-link {
    text-decoration: none;
    color: #657786;
    font-size: 13px;
}

.wd-blue-link {
    text-decoration: none;
    color: #1DA1F2;
    font-size: 13px;
}

.wd-follow-button {
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    width: 80px;
}

.wd-profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.textOverlay {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}